/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#monthly_header{
	border: solid 5px #ffffff;
	background-color: Coral;
	width: 1105px;
	text-align: center;
}
.day_of_week{
	border: solid 5px #ffffff;
	background-color: Coral;
	width: 150px;
	display: inline-block;
	text-align: center;
	float: left;
}
.not_monthly_day{
	border: solid 5px #ffffff;
	background-color: #ffffff;
	width: 150px;
	height: 100px;
	float: left;
	display: inline-block;

}
.monthly_day{
	border: solid 5px #ffffff;
	background-color: Coral;
	width: 150px;
	height: 100px;
	float: left;
	display: inline-block;
	font-size: 25px;
}
#today{
	border: solid 5px #ffffff;
	background-color: yellow;
	width: 150px;
	height: 100px;
	float: left;
	display: inline-block;
	font-size: 25px;
}
.clear{
	clear:both;
}