/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body{
	background-color: #504747;
}

/*layout css*/
#wrapper{
	background-color: #e7eeb2;
	width: 1140px;
	margin: 0 auto;
}
header{
	background-color: #79bea6;
	width: 1140px;
	height: 100px;
}
#logo{
	float:left;
	font-size: 50px;
}
#logout{
	margin: 10px;
	float: right;
}
#logout input {
	width: 100px;
	height: 50px;
}
#signin{
	float: right;
}
nav a{
	text-decoration: none;
	float: right;
	margin: 0 10px;
}
nav a:hover{
	background-color: Steelblue;
}
footer{
	background-color: #79bea6;
	max-width: 1140px;
	height: 75px;
	text-align: center;
	padding-top: 20px;
	font-size: 14px;
}
#blue_bold {
	font-weight: bold;
}
#notice{
	background-color: yellow;
	position: fixed;
	left: 40%;
	text-align: center;
}
#alert{
	background-color: red;
	position: fixed;
	left: 40%;
	text-align: center;
}
/*home css*/
#home_background{
	background-image: url("/assets/home_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
   height: 641px;
}
#signup{
	color:#ffffff;
	font-size: 20px;
	width: 330px;
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
}
#signup h1{
	margin-top: 0px;
}
#signup_form{
	text-align: right;
}
/*event css*/
.event{
	border: solid 5px #ffffff;
	background-color: Coral;
	width: 300px;
	float: left;
}
/*profile css*/
#calendar{
	width: 1120px;
	margin: 10px auto;

}
#cal_nav{
	width: 390px;
	margin: 0 auto;
}
#cal_nav a{
	text-decoration: none;
	margin: 0 20px;
}
#cal_nav a:hover{
	background-color: Steelblue;
}
#monthly_header{
	border: solid 5px #ffffff;
	background-color: Coral;
	width: 1110px;
	text-align: center;
}
.day_of_week{
	border: solid 5px #ffffff;
	background-color: Coral;
	width: 150px;
	display: inline-block;
	text-align: center;
	float: left;
}
.not_monthly_day{
	border: solid 5px #e7eeb2;
	background-color: #e7eeb2;
	width: 150px;
	height: 100px;
	float: left;
	display: inline-block;

}
.monthly_day{
	border: solid 5px #ffffff;
	background-color: Coral;
	width: 150px;
	height: 100px;
	float: left;
	display: inline-block;
	overflow: hidden;
}
.monthly_day h3{
	margin: 0px;
}
#today{
	border: solid 5px #ffffff;
	background-color: yellow;
	width: 150px;
	height: 100px;
	float: left;
	display: inline-block;
	overflow: hidden;
}
#today h3{
	margin: 0px;
}
.clear{
	clear:both;
}